.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-light-pink);
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}
