.onlineList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-lightblue);
  width: 400px;
}

.avatarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.onlineList p {
  margin-top: 30px;
}
