html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-dark-gray);
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 15px;
  line-height: 14.36px;
  overflow-x: hidden;
}

.page-container {
  min-height: 100vh;
  height: auto;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-family-body);
}

.link {
  text-decoration: underline;
}

.bigTitle {
  font-family: var(--font-family-title);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  font-family: var(--font-family-title);
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
}

.subtitle {
  font-family: var(--font-family-subtitle);
  font-weight: 500;
  font-size: 21px;
  line-height: 1.8;
  margin-bottom: 15px;
}

.text,
p {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.8;
}

.staticText,
label,
span,
small {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.8;
}

small {
  font-size: 10px;
}

p {
  margin-top: 32px;
}

.error {
  font-size: 12px;
}

.lightText {
  font-weight: 300;
}

.mediumText {
  font-weight: 500;
}

.semiBoldText {
  font-weight: 600;
}

.boldText {
  font-weight: 700;
}

.colorMediumGray {
  color: var(--color-medium-gray);
}

.colorPrimary {
  color: var(--primary-color);
}

.colorSecondary {
  color: var(--secondary-color);
}

.colorWhite {
  color: var(--color-white);
}

.number {
  font-family: var(--font-family-title);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 0em;
}

.titleUppercase {
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 12px 20px;
  background: var(--color-pink);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  font-family: var(--font-family-title);
  color: var(--color-white);
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 0.5px;
}

.input {
  width: 350px;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  .title {
    font-size: 48px;
  }

  .bigTitle {
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 0em;
  }

  .subtitle {
    font-size: 19px;
  }

  .text,
  p {
    font-family: var(--font-family-body);
    font-weight: 500;
    font-size: 21px;
    line-height: 1.8;
  }
}
