html {
  --color-back: #000000;
  --color-dark-gray: #474747;
  --color-medium-gray: #7d7d7d;
  --color-gray: #b6b6b6;
  --color-soft-gray: #c4c4c4;
  --color-light-gray: #e5e9ec;
  --color-white: #ffffff;
  --color-medium-white: #f1f1f1;
  --color-dark-white: #e1e1e1;
  --color-darker-white: #d1d1d1;
  --color-dark-violet: #3c122c;
  --color-violet: #a6aaed;
  --color-lightblue: #c1e5ef;
  --color-pink: #d789b9;
  --color-light-pink: #e8c2d8;
  --color-yellow: #dfb5a7;
  --color-light-yellow: #faf1a9;
  --color-dark-yellow: #f9b233;
  --color-red: #ff0000;
  --color-magenta: #d60b52;
  --color-turquoise: #29c3aa;
  --color-dark-green: #a6be0a;
  --color-green: #c0d72c;
  --color-light-green: #cbda69;
  --color-blue: #2b88d9;
  --color-dark-navy: #1a5690;
  --color-darker-navy: #051b31;
  --color-navy: #306ba5;
  --color-light-navy: #4b86c0;
  --color-petroleum: #014256;
  --color-sea: #59b2ef;
}
