html {
  --color-back: #000000;
  --color-dark-gray: #474747;
  --color-medium-gray: #7d7d7d;
  --color-gray: #b6b6b6;
  --color-soft-gray: #c4c4c4;
  --color-light-gray: #e5e9ec;
  --color-white: #ffffff;
  --color-medium-white: #f1f1f1;
  --color-dark-white: #e1e1e1;
  --color-darker-white: #d1d1d1;
  --color-dark-violet: #3c122c;
  --color-violet: #a6aaed;
  --color-lightblue: #c1e5ef;
  --color-pink: #d789b9;
  --color-light-pink: #e8c2d8;
  --color-yellow: #dfb5a7;
  --color-light-yellow: #faf1a9;
  --color-dark-yellow: #f9b233;
}
