:root {
  --font-family-title: var(--font-family-ubuntu);
  --font-family-subtitle: var(--font-family-ubuntu);
  --font-family-body: var(--font-family-ubuntu);
  --font-family-input: var(--font-family-ubuntu);

  --primary-color: var(--color-pink);
  --secondary-color: var(--color-violet);

  --secondary-background: var(--color-dark-violet);
  --secondary-background-hover: var(--color-violet);

  --primary-background: var(--color-pink);
  --primary-background-hover: var(--color-light-pink);

  --button-text-transform: none;
}
