.container {
  display: flex;
  height: 80%;
}
.chatContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--color-light-pink);
  max-width: 600px;
  margin: 0 30px;
  padding: 20px;
  border-radius: 6px;
  height: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.form input {
  margin: 0px;
}
.form button {
  margin: 0 0 0 5px;
}

.divScroll {
  overflow-y: scroll;
  height: 100%;
  background: var(--color-white);
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
}
