.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.img {
  width: 300px;
  margin-bottom: 30px;
}

.buttonGroup {
  display: flex;
}

.btn {
  border-radius: 6px;
  width: 200px;
  margin: 25px;
}
