.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("rainbow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
}
